<form class="d-flex m-2">
    <input class="form-control me-2" type="search" placeholder="Search Departament" aria-label="Search" [(ngModel)]="DepartamentSearch" name="first">
    <button class="btn btn-outline-success" style="margin-right: 6px;" type="submit" (click)="SearchDepartament()">Search</button>
    <button class="btn btn-outline-success" type="submit" (click)="RefreshDepList()">GetAll</button>
</form>
<button type="button" class="btn btn-primary float-end m-2" (click)="OpenModal(template)">Add Departament</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ModalTitle}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="Close()"></button>
    </div>
    <div class=" modal-body ">
        <app-add-edit (Actualizar)="actualizar($event)" [dep]="dep " *ngIf="ActivateAddEditDepComp "></app-add-edit>
    </div>
</ng-template>


<div class="container ">
    <table class="table">
        <thead class="table-dark table-dark-block ">
            <tr style="text-align: center;">
                <th scope="col ">Departament Name</th>
                <th scope="col ">Options</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor=" let departament of DepartamentList; ">
                <td>{{departament.DEPARTAMENT_NAME}}</td>
                <td>
                    <button class="btn btn-outline-warning " style="margin-right: 3px;" (click)="EditClick(template,departament)">Edit</button>
                    <button class="btn btn-outline-danger " (click)="DeleteDep(departament.DEPARTAMENT_ID)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>